---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<script>
  import { user$, logout, isAuthor } from "../../lib/appwrite";

  const loginElement: HTMLElement | null =
    document.querySelector("#accountLoginLink");
  const userElement: HTMLElement | null =
    document.querySelector("#accountUser");

  user$.subscribe((user) => {
    if (!loginElement || !userElement) return;
    if (!user) {
      loginElement.style.display = "flex";
      userElement.style.display = "none";
      return;
    }

    loginElement.style.display = "none";
    userElement.style.display = "flex";

    const userDetailsElement: HTMLElement | null =
      userElement.querySelector("#accountUserDetail");

    if (userDetailsElement) {
      userDetailsElement.innerHTML = `Email: ${user.email}`;
    }
  });

  isAuthor.subscribe((isAuthor) => {
    if (!userElement || !isAuthor) return;
    const authorDetailsElement: HTMLElement | null = userElement.querySelector(
      "#accountAuthorDetail"
    );
    if (authorDetailsElement) {
      authorDetailsElement.innerHTML = `Author: ${isAuthor}`;
    }
  });

  const logoutElem: HTMLButtonElement | null =
    document.querySelector("#account-logout");
  logoutElem?.addEventListener("click", (e) => {
    logout();
  });
</script>

<SiteLayout>
  <section class="u-flex u-flex-vertical u-gap-8">
    <h1 class="heading-level-1">Account</h1>

    <section id="accountLoginLink">
      <a href="/account/login">Login</a>
    </section>

    <section id="accountUser">
      <section id="accountUserDetail"></section>
      <section id="accountAuthorDetail"></section>
      <button id="account-logout" class="button">Logout</button>
    </section>
  </section>
</SiteLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
