---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<script>
  import { user$, logout, isAuthor } from "../../lib/appwrite";

  const loginElem: HTMLElement | null =
    document.querySelector("#accountLoginLink");
  const userElem: HTMLElement | null = document.querySelector("#accountUser");

  user$.subscribe((user) => {
    if (!loginElem || !userElem) return;
    if (user) {
      loginElem.style.display = "none";
      userElem.style.display = "flex";

      const accountUserDetailElem: HTMLElement | null =
        document.querySelector("#accountUserDetail");
      if (accountUserDetailElem)
        accountUserDetailElem.innerHTML = `Email: ${user.email}`;
    } else {
      loginElem.style.display = "flex";
      userElem.style.display = "none";
    }
  });

  isAuthor.subscribe((isAuthor) => {
    if (!loginElem || !userElem) return;
    if (isAuthor) {
      const accountAuthorDetailElem: HTMLElement | null =
        document.querySelector("#accountAuthorDetail");
      if (accountAuthorDetailElem)
        accountAuthorDetailElem.innerHTML = `Author: ${isAuthor}`;
    }
  });

  const logoutElem: HTMLButtonElement | null =
    document.querySelector("#account-logout");
  logoutElem?.addEventListener("click", (e) => {
    logout();
  });
</script>

<SiteLayout>
  <section class="u-flex u-flex-vertical u-gap-8">
    <h1 class="heading-level-1">Account</h1>

    <section id="accountLoginLink">
      <a href="/account/login">Login</a>
    </section>

    <section id="accountUser">
      <section id="accountUserDetail"></section>
      <section id="accountAuthorDetail"></section>
      <button id="account-logout" class="button">Logout</button>
    </section>
  </section>
</SiteLayout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
