---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<script>
  import { user$, logout } from "../../lib/appwrite";

  const loginElem: HTMLElement | null =
    document.querySelector("#accountLoginLink");
  const userElem: HTMLElement | null = document.querySelector("#accountUser");

  user$.subscribe((user) => {
    if (!loginElem || !userElem) return;
    if (user) {
      loginElem.style.display = "none";
      userElem.style.display = "block";

      const accountUserDetailElem: HTMLElement | null =
        document.querySelector("#accountUserDetail");
      if (accountUserDetailElem)
        accountUserDetailElem.innerHTML = `Email: ${user.email} Admin: ${
          user.prefs.admin || false
        }`;
    } else {
      loginElem.style.display = "block";
      userElem.style.display = "none";
    }
  });

  const logoutElem: HTMLButtonElement | null =
    document.querySelector("#account-logout");
  logoutElem?.addEventListener("click", (e) => {
    logout();
  });
</script>

<SiteLayout>
  <h1 class="heading-level-1">Account</h1>

  <section id="accountLoginLink">
    <a href="/account/login">Login</a>
  </section>

  <section id="accountUser">
    <div class="u-flex u-flex-vertical u-gap-4">
      <section id="accountUserDetail"></section>
      <button id="account-logout" class="button">Logout</button>
    </div>
  </section>
</SiteLayout>
