---
import SiteLayout from "../../layouts/SiteLayout.astro";
---

<script>
  import type { AppwriteException } from "appwrite";
  import { register } from "../../lib/appwrite";
  const formElem: HTMLFormElement | null = document.querySelector("form");

  formElem?.addEventListener("submit", (e) => {
    e.preventDefault();
    const emailElem: HTMLInputElement | null =
      formElem.querySelector('input[id="email"]');
    const passwordElem: HTMLInputElement | null = formElem.querySelector(
      'input[id="password"]'
    );
    const email = emailElem?.value;
    const password = passwordElem?.value;

    if (!email) {
      alert("Email is required.");
      return;
    }

    if (!password) {
      alert("Password is required.");
      return;
    }

    if (password.length < 8) {
      alert("Password must be at least 8 characters long.");
      return;
    }
    register(email, password);
  });
</script>

<SiteLayout>
  <section class="u-flex u-flex-vertical u-gap-16">
    <h1 class="heading-level-1">Sign Up</h1>
    <form class="u-flex u-flex-vertical u-gap-8">
      <label for="email"> Email</label>
      <input id="email" type="email" required />

      <label for="password"> Password</label>
      <input id="password" type="password" required />

      <button type="submit" class="button u-margin-block-start-16"
        >Register</button
      >
    </form>
    <a href="/account/login" style="text-decoration: underline">Login</a>
  </section>
</SiteLayout>

<style>
  section {
    width: 100%;
    max-width: 30rem;
  }
</style>
