---
import NavLink from "./NavLink.astro";
---

<script>
  // Check if user has session
  import { isLoggedIn } from "../lib/appwrite";

  const loginElem: HTMLElement | null = document.querySelector("#login");
  const accountElem: HTMLElement | null = document.querySelector("#account");

  isLoggedIn.subscribe((user) => {
    if (!accountElem || !loginElem) return;
    if (user) {
      loginElem.style.display = "none";
      accountElem.style.display = "block";
    } else {
      loginElem.style.display = "block";
      accountElem.style.display = "none";
    }
  });
</script>

<div id="login">
  <NavLink href="/account/login">
    <span class="icon-cog" aria-hidden="true"></span>
    <span class="text"> Login</span>
  </NavLink>
</div>
<div id="account">
  <NavLink href="/account">
    <span class="icon-cog" aria-hidden="true"></span>
    <span class="text"> Account</span>
  </NavLink>
</div>

