---
import NavLink from "./NavLink.astro";
---

<account-nav>
  <div id="login">
    <NavLink href="/account/login">
      <span class="icon-user" aria-hidden="true"></span>
      <span class="text">Login</span>
    </NavLink>
  </div>
  <div id="account">
    <NavLink href="/account">
      <span class="icon-user" aria-hidden="true"></span>
      <span class="text">Account</span>
    </NavLink>
  </div>
</account-nav>

<script>
  import { isLoggedIn } from "../lib/appwrite";

  class UserSession extends HTMLElement {
    loginElement: HTMLElement | null;
    accountElement: HTMLElement | null;

    constructor() {
      super();
      this.loginElement = this.querySelector("#login");
      this.accountElement = this.querySelector("#account");

      isLoggedIn.subscribe((user) => {
        if (!this.accountElement || !this.loginElement) return;
        if (user) {
          this.loginElement.style.display = "none";
          this.accountElement.style.display = "block";
        } else {
          this.loginElement.style.display = "block";
          this.accountElement.style.display = "none";
        }
      });
    }
  }

  customElements.define("account-nav", UserSession);
</script>
