<section class="adminButtons" style="display: none">
  <div class="u-flex u-gap-8">
    <a class="button" href={`/posts/create`} aria-label="Create Post">
      <span class="icon-plus" aria-hidden="true"></span>
      <span class="text">Create</span>
    </a>
  </div>
</section>

<script>
  // Check if user has session
  import { isAuthor } from "../lib/appwrite";

  // This gets ALL buttons on the screen
  const authorButtonsElement: NodeListOf<HTMLElement> | null =
    document.querySelectorAll(".adminButtons");

  // Show Buttons if user is an admin
  isAuthor.subscribe((isAuthor) => {
    if (!authorButtonsElement) return;
    if (isAuthor) {
      Array.from(authorButtonsElement).map((b) => (b.style.display = "block"));
    } else {
      Array.from(authorButtonsElement).map((b) => (b.style.display = "none"));
    }
  });
</script>

<style>
  button {
    display: flex;
    cursor: pointer;
  }
</style>
