<section class="adminButtons" style="display: none">
  <div style="display:flex; gap: 0.5rem">
    <a class="button" href={`/posts/create`} aria-label="Create Post">
      <span class="icon-plus" aria-hidden="true"></span>
      <span class="text">Create</span>
    </a>
  </div>
</section>

<script>
  // Check if user has session
  import { user$ } from "../lib/appwrite";

  // This gets ALL buttons on the screen
  const authorButtonsElement: NodeListOf<HTMLElement> | null =
    document.querySelectorAll(".adminButtons");

  // Show Buttons if user is an admin
  user$.subscribe((user) => {
    if (!authorButtonsElement) return;
    if (user && user.prefs.admin) {
      Array.from(authorButtonsElement).map((b) => (b.style.display = "block"));
    } else {
      Array.from(authorButtonsElement).map((b) => (b.style.display = "none"));
    }
  });
</script>
<style>
  button {
    display: flex;
    cursor: pointer;
  }
  .adminButtons {
    position: absolute;
    top: 0;
    right: 0;
  }
</style>
