<script>
  // Check if user has session
  import { isLoggedIn } from "../lib/appwrite";

  const loginElement: HTMLElement | null = document.querySelector(
    "#header-account-user"
  );
  const accountElement: HTMLElement | null = document.querySelector(
    "#header-account-login"
  );

  isLoggedIn.subscribe((user) => {
    if (!accountElement || !loginElement) return;
    if (user) {
      loginElement.style.display = "none";
      accountElement.style.display = "block";
    } else {
      loginElement.style.display = "block";
      accountElement.style.display = "none";
    }
  });
</script>

<nav
  class="u-flex u-height-100-percents u-sep-inline-start header-account-user u-hide"
>
  <div class="drop-wrapper">
    <button class="user-profile-button"
      ><img
        width="40"
        height="40"
        class="avatar"
        src="https://cloud.appwrite.io/v1/avatars/initials?name=Alex&width=80&height=80&project=console"
        title="Alex"
        alt="Alex"
        style="--size:2.5rem;"
      />
      <span class="user-profile-info is-only-desktop"
        ><span class="name">Alex</span>
        <span class="title">Personal Projects</span></span
      >
      <span class="is-only-desktop icon-cheveron-down" aria-hidden="true"
      ></span></button
    >
  </div>
</nav>
