---
import HeaderAccount from "../components/HeaderAccount.astro";
---

<script>
  const lightThemeButton: HTMLButtonElement | null = document.querySelector(
    "#theme-toggle-light"
  );
  const darkThemeButton: HTMLButtonElement | null =
    document.querySelector("#theme-toggle-dark");

  function setTheme() {
    const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)");
    const theme =
      localStorage.getItem("theme") ??
      (defaultTheme.matches ? "dark" : "light");
    if (lightThemeButton && darkThemeButton) {
      if (theme === "dark") {
        document.body.classList.remove("theme-light");
        document.body.classList.add("theme-dark");
        lightThemeButton.style.display = "none";
        darkThemeButton.style.display = "block";
      } else {
        document.body.classList.remove("theme-dark");
        document.body.classList.add("theme-light");
        lightThemeButton.style.display = "block";
        darkThemeButton.style.display = "none";
      }
    }
  }

  function toggleTheme() {
    const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)");
    const theme =
      localStorage.getItem("theme") ??
      (defaultTheme.matches ? "dark" : "light");
    if (theme === "dark") {
      localStorage.setItem("theme", "light");
      document.body.classList.remove("theme-dark");
      document.body.classList.add("theme-light");

      if (lightThemeButton && darkThemeButton) {
        lightThemeButton.style.display = "block";
        darkThemeButton.style.display = "none";
      }
    } else {
      localStorage.setItem("theme", "dark");
      document.body.classList.remove("theme-light");
      document.body.classList.add("theme-dark");
      if (lightThemeButton && darkThemeButton) {
        lightThemeButton.style.display = "none";
        darkThemeButton.style.display = "block";
      }
    }
  }

  //Check for theme on load
  if (lightThemeButton && darkThemeButton) {
    setTheme();
    lightThemeButton?.addEventListener("click", (e) => {
      toggleTheme();
    });
    darkThemeButton?.addEventListener("click", (e) => {
      toggleTheme();
    });
  }
</script>

<header class="main-header u-padding-inline-end-0">
  <button class="icon-button is-not-desktop nav-btn" aria-label="Open Menu">
    <span aria-hidden="true" class="icon-menu"></span>
  </button>
  <a class="logo" href="/">My Blog</a>
  <div class="main-header-end u-margin-inline-end-16">
    <ul class="buttons-list is-with-padding">
      <li class="buttons-list-item u-padding-inline-0">
        <!-- Light -->
        <button
          id="theme-toggle-light"
          class="button is-only-icon is-text"
          aria-label="Replace to Dark Mode Theme"
        >
          <span class="icon-sun" aria-hidden="true"></span>
        </button>
        <!-- Dark -->
        <button
          id="theme-toggle-dark"
          class="button is-only-icon is-text"
          x-on:click="toggleTheme(); theme = 'light'"
          aria-label="Replace to Light Mode Theme"
        >
          <span class="icon-moon" aria-hidden="true"></span>
        </button>
      </li>
    </ul>
    <HeaderAccount />
  </div>
</header>
